/Activity.class
/Argument.class
/Constraint.class
/Label.class
/Operation$OperatorEnum.class
/Operation.class
/Population.class
/Predicate.class
/PredicateDefinition.class
/ProcessModel.class
/Specification.class
